body, canvas{ margin: 0; padding: 0; border: 0 none; } /* remove all the borders so there isn't any weird whitespace in the body & canvas */

body {
    overflow: hidden; /* Hide scrollbars */
  }